.cajapadre {
    background-color: rgb(37, 160, 190);
    height: 325px;
    width: 325px;
    margin: 10px;
}

.imagenes {
    width: 35%;
}

.imagenes img {
    width: 100%;
    height: auto;
    display: block;
}

.informacion {
    width: 50%;
    height: 275px;
    background-color: cadetblue;
    padding: 20px;
    box-sizing: border-box;
}

.Principal {
    display: flex;
    width: 100%;
    align-items: center;
}